page-home {

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .ion-title{
    font-size: 10px;
  }

  .icons-basic-page {
    ion-icon {
      font-size: 50px;
      color: #eb6a5a;
      

    }
  }
  .grid-basic-page {

    ion-col div {
      background-color: white;
      padding: 5px;
     // border: 1px solid #B9B9B9;
      //border-radius: 10px;
      text-align: center;
      color: #747474;

    }

  }

}
